header {
	display: block;
	// overflow: visible;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	.transition-tranform(.2s);
	.box-sizing(border-box);
	min-width: 320px;
	// to make place under header clickable (e.g. for collection MARKS)
	overflow: visible;
	height: 0;
	top: 0;
}

	.header__menu {
		display: inline-block;
		padding: 17px 20px 0;

		.i-menu {
			display: none;
		}
	}

	.header__logo {
		float: right;
		padding: 18px 20px 0;

		.i-logo {
			display: none;
		}
	}


.body__page-home,
.body__page-time\/men,
.body__page-time\/women {

	.header__menu {

		.i-menu_dark {
			display: none;
		}
		.i-menu {
			display: inline-block;
		}

	}

	.header__logo {

		.i-logo_dark {
			display: none;
		}

		.i-logo {
			display: inline-block;
		}
	}
}

.i-logo {
	background: url(/assets/st/logo.svg);
}

.i-logo_dark {
	background: url(/assets/st/logo_dark.svg);
}