.overlay-visible {
	overflow: hidden;
	.overlay {
		display: block;
	}
}

.overlay {
	background: @white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: none;
}

	.overlay__close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		font-size: 0;
		line-height: 0;
		z-index: 3;
	}

	.overlay__prev {
		position: absolute;
		top: 0;
		bottom: 0;
		padding: 0 20px;
		left: 0;
		width: 25%;
		font-size: 0;
		line-height: 0;
		z-index: 2;
		cursor: pointer;
		.i {
			position: absolute;
			top: 50%;
			margin-top: -98px/2;
			left: 20px;
		}
	}

	.overlay__next {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 25%;
		padding: 0 20px;
		right: 0;
		font-size: 0;
		line-height: 0;
		z-index: 2;
		cursor: pointer;
		.i {
			position: absolute;
			top: 50%;
			margin-top: -98px/2;
			right: 20px;
		}
	}


	.overlay__slides-cont {
		overflow: hidden;
		position: relative;
		.box-sizing(border-box);
		padding: 0;
		height: 100%;
	}

	.touch {
		.overlay__prev,
		.overlay__next {
			width: auto;
		}

	}

	.loading {
		&.overlay__slides-cont {
			background: url(/assets/ani/spinner.gif) 50% 50% no-repeat;
		}
	}
		.overlay__slides {
			font-size: 0;
			line-height: 0;
			.transition(all .3s);
			overflow: hidden;
			position: relative;
			height: 100%;
		}

			.overlay__slide {
				float: left;
				width: 100%;
				height: 100%;
				position: relative;
				vertical-align: top;
				min-height: 100px;
				text-align: center;
				background-position: 50% 50%;
				background-repeat: no-repeat;

				// background-image: url(/images/st/product-part.jpg);
				.background-size(auto 100%);

				color: @black;
				.transition(color .3s);

				h2 {
					font-size: 18px;
					line-height: 2;
					font-weight: normal;
					margin: 0;
					padding: 109px+40px 40px 0;
					.transition(color .3s);
				}

				.overlay__desc {
					position: absolute;
					bottom: 80px-3px;
					left: 40px;
					right: 40px;
				}

					.overlay__desc-h {
						font-size: 14px;
						line-height: 24px;
						font-weight: normal;
						margin: 0 0 15px;
						.transition(color .3s);
						p {
							display: inline;
							padding: 0;
							margin: 0;
						}
					}

					.overlay__desc-misc {
						font-size: 11px;
						line-height: 14px;
						font-family: 'Courier New', Courier, sans;
						margin: 0;
						.transition(color .3s);
						p,
						div {
							padding: 0;
							margin: 0; 
						}
					}

						strong {
							font-weight: normal;
							text-transform: uppercase;
						}
			}


.dark-bg {
	&.overlay {
		background: @black;
	}
	.i-close {
		.i-close_w;
	}

	.i-al {
		.i-al_w;
	}

	.i-ar {
		.i-ar_w;
	}

	.overlay__slide {
		color: @white;
	}
}