.contact__section {
	display: block;
	padding: 69px-36px 20px 40px;
	width: auto;
	height: auto;
}

.contact__section-in {
	display: block;
}


	.contact__row {
		margin-top: 2em;
		&:last-child {
			margin-top: 0;
		}
	}

	.contact__form {
		margin: 36px -20px;
	}


		.contact__inp {
			width: 171px;
			display: none;
		}

		.contact__inp_phone {
			display: inline-block;
		}

		.contact__submit-a {
			width: auto;
			margin-left: 20px;
		}


