// This file was generated automaticly, so don't modify it!
.i{
	background: url("/assets/sprites/i-11f6e.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.i{
		background: url("/assets/sprites/i-2x-11f6e.png") no-repeat 0 0;
	.background-size(253px 589px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.i-al{
	width: 52px;
	height: 98px;
	background-position: 0px 0px;
}
.i-ar{
	width: 52px;
	height: 98px;
	background-position: 0px -99px;
}
.i-close{
	width: 64px;
	height: 64px;
	background-position: 0px -198px;
}
.i-code{
	width: 63px;
	height: 48px;
	background-position: 0px -263px;
}
.i-logo{
	width: 253px;
	height: 56px;
	background-position: 0px -312px;
}
.i-logo_dark{
	width: 253px;
	height: 56px;
	background-position: 0px -369px;
}
.i-menu{
	width: 61px;
	height: 57px;
	background-position: 0px -426px;
}
.i-menu_dark{
	width: 61px;
	height: 57px;
	background-position: 0px -484px;
}
.i-plus{
	width: 48px;
	height: 48px;
	background-position: 0px -541px;
}
