// This file was generated automaticly, so don't modify it!
.i{
	background: url("/assets/sprites/i-5d778.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.i{
		background: url("/assets/sprites/i-2x-5d778.png") no-repeat 0 0;
	.background-size(253px 917px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.i-al{
	width: 52px;
	height: 98px;
	background-position: 0px 0px;
}
.i-al_w{
	width: 52px;
	height: 98px;
	background-position: 0px -99px;
}
.i-ar{
	width: 52px;
	height: 98px;
	background-position: 0px -198px;
}
.i-ar_w{
	width: 52px;
	height: 98px;
	background-position: 0px -297px;
}
.i-close{
	width: 64px;
	height: 64px;
	background-position: 0px -396px;
}
.i-close_w{
	width: 64px;
	height: 64px;
	background-position: 0px -461px;
}
.i-closew{
	width: 64px;
	height: 64px;
	background-position: 0px -526px;
}
.i-code{
	width: 63px;
	height: 48px;
	background-position: 0px -591px;
}
.i-logo{
	width: 253px;
	height: 56px;
	background-position: 0px -640px;
}
.i-logo_dark{
	width: 253px;
	height: 56px;
	background-position: 0px -697px;
}
.i-menu{
	width: 61px;
	height: 57px;
	background-position: 0px -754px;
}
.i-menu_dark{
	width: 61px;
	height: 57px;
	background-position: 0px -812px;
}
.i-plus{
	width: 48px;
	height: 48px;
	background-position: 0px -869px;
}
