// .stockists__section {
// }


	.stockists__row {
		text-align: center;
		overflow: hidden;
		padding-top: 149px;
	}
		.stockists__col {
			display: inline-block;
			margin: 0;
			width: 29%;
			vertical-align: top;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}

			h2 {
				font-size: 18px;
				line-height: 2;
				text-transform: uppercase;
				font-weight: normal;
				margin: 0 0 1em;
			}

			h3 {
				font-size: 14px;
				line-height: 24px;
				font-weight: normal;
				margin: 0 0 10px;
			}
			address {
				font-style: normal;
				font-size: 11px;
				line-height: 14px;
				padding: 0;
				margin: 0 0 28px;
			}

			a {
				font-style: normal;
				font-size: 11px;
				line-height: 14px;
				text-decoration: none;
				color: @white;
				border-bottom: 1px solid @white;

				&:hover {
					text-decoration: none;
					color: @white;
				}	
			}
		}

			.stockists__itm {
				margin-bottom: 45px !important;
			}
